<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>

<body>
    <div class="main">
        <div class="left">
            <div class="logo">
                <img src="{% static 'images/logo.png'%}" alt="">
            </div>
            <div class="icons">
                <div class="home">
                    <img src="{% static 'images/icons8-home-64.png'%}" alt="">
                    <a href="">Home</a>
                </div>
            </div>
            <div class="icons">
                <div class="home">
                    <img src="{% static 'images/seach.png'%}" alt="">
                    <a href="">Search</a>
                </div>
            </div>
            <div class="icons">
                <div class="home">
                    <img src="{% static 'images/explore.png'%}" alt="">
                    <a href="">Explore</a>
                </div>
            </div>
            <div class="icons">
                <div class="home">
                    <img src="{% static 'images/reels.png'%}" alt="">
                    <a href="">Reels</a>
                </div>
            </div>
            <div class="icons">
                <div class="home">
                    <img src="{% static 'images/msg.png'%}" alt="">
                    <a href="">Messages</a>
                </div>
            </div>
            <div class="icons">
                <div class="home">
                    <img src="{% static 'images/heart.png'%}" alt="">
                    <a href="">Notifications</a>
                </div>
            </div>
            <div class="icons">
                <div class="home">
                    <img src="{% static 'images/create.png'%}" alt="">
                    <a href="../create/">Create</a>
                </div>
            </div>
            <div class="icons">
                <div class="home">
                    <img src="https://img.icons8.com/?size=100&id=PiOyhad0UfDn&format=png&color=FFFFFF" alt="">
                    <a href="">Dashboard</a>
                </div>
            </div>
            <div class="icons">
                <div class="home">
                    <img src="{% static 'images/icons8-home-64.png'%}" alt="">
                    <a href="../profile/">Profile</a>
                </div>
            </div>
            <div class="icons">
                <div class="home">
                    <a href="../logout/">Log out</a>
                </div>
            </div>

        </div>




        <div class="mid">

            <div class="story">
                <div class="neymer">
                    <img src="https://tse4.mm.bing.net/th/id/OIP.gdCWrb5RPMnlEssHTVkAtgHaHa?pid=Api&P=0&h=180" alt="">
                    <p>neymer_jr</p>
                </div>
                <div class="neymer">
                    <img src="https://tse3.mm.bing.net/th/id/OIP.AWX4OdiKNkWcQw80HEUh7gHaHa?pid=Api&P=0&h=180" alt="">
                    <p>leo_messi</p>
                </div>
                <div class="neymer">
                    <img src="https://tse3.mm.bing.net/th/id/OIP.89cbg0frQDjbFOGLUAKmWAHaHa?pid=Api&P=0&h=180" alt="">
                    <p>cr_ronaldo</p>
                </div>
                <div class="neymer">
                    <img src="https://tse4.mm.bing.net/th/id/OIP.Ig0rb96HPvL5AKCckHsAiwHaHa?pid=Api&P=0&h=180" alt="">
                    <p>m_bappe</p>
                </div>
                <div class="neymer">
                    <img src="https://tse3.mm.bing.net/th/id/OIP.R2ZGGqDINQSYFikGU69xaQAAAA?pid=Api&P=0&h=180" alt="">
                    <p>bellingham</p>
                </div>
                <div class="neymer">
                    <img src="https://tse2.mm.bing.net/th/id/OIP.ig1ZNEnRvpiXnKi4Kvr4RwHaHa?pid=Api&P=0&h=180" alt="">
                    <p>l_mondric</p>
                </div>


            </div>
            <div class="posts">
                {% for i in file%}
                <h4>{{ i.user.username }}</h4>
                <img src="{{i.doc.url}}" alt="image" height="100px" width="100px">
                <form action="../comment/" method="post">
                    {% csrf_token %}

                    <input type="text" name="comment" id="" placeholder="Add a comment...">
                    <button type="submit">ADD</button>
                </form>
                {% endfor %}
            </div>
        </div>
        <div class="right"></div>
    </div>
</body>

</html>