<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register.css'%}">

</head>

<body>
    <div class="main">
        <div class="back">
            <a href="../">
                < </a>
        </div>
        <div class="heading">
            <h4>Get started on Instagram </h4>
            <h6>Sign up to see photos and vedios from your friends.</h6>
        </div>
        <form action="../register/" method="POST">
            {% csrf_token %}
            <h4>Email</h4>
            <input type="email" name="email" id="" placeholder="Email">
            <h4>Password</h4>
            <input type="password" name="password" id="" placeholder="Password">
            <h4>Name</h4>
            <input type="text" name="name" id="" placeholder="Name">
            <h4>Username</h4>
            <input type="text" name="username" id="" placeholder="Username">
            <p>People who use our service may have uploaded your contact information to <br> Instagram</p>
            <p>By tapping Submit, you agree to create an account and to Instagram's Terms <br> and Privacy Policy</p>
            <p>The Privacy Policy describes the ways we can use the information we collect <br>when you create an
                account. For example, we use this information to provide,<br> personalize and improve our products,
                including ads.</p>

            <input type="submit" value="Submit"> <br> <br>
            <a href="../">I already have an account</a>
        </form>

    </div>
     <div class="end1">
        <p>Meta</p>
        <p>About</p>
        <p>Blog</p>
        <p>Jobs</p>
        <p>Help</p>
        <p>API</p>
        <p>Privacy</p>
        <p>Terms</p>
        <p>Location</p>
        <p>Instagram Lite</p>
        <p>Meta AI</p>
        <p>Meta AI Articles</p>
        <p>Threads</p>
        <p>Contact</p>
        <p>Meta Verified</p>

    </div>
    <div class="end2">
        <p>English</p>
        <p>© 2025 Instagram from Meta</p>
    </div>

</body>

</html>