body {
    background-color: black;
    align-items: center;
    justify-content: center;
}

.div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box {
    height: 550px;
    width: 500px;
    background-color: #212328;
    margin-top: 100px;
    border-radius: 20px;

}

.box .head {
    height: 50px;
    width: 100%;
    background-color: #3b4c59;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.head h5 {
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.box img {
    padding-top: 30%;
    padding-left: 42%;
    height: 80px;
    width: 80px;
}

.box p {
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 5px;

}

.box form input {
    margin-left: 200px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.box form input::file-selector-button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #3b4c59;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white;
}

.box button {
    margin-left: 230px;
    margin-top: 10px;
    background-color: transparent;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    
}