body {
    background-color: black;
    margin-top: 0;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main .left {
    position: fixed;
    width: 220px;
    height: 800px;
    /* background-color: brown; */
    border-right: 1px solid #3b4c59;
    margin-left: 20px;
}

.main .mid {
    width: 800px;
    height: 500px;
    /* background-color: thistle; */
    margin-left: 400px;
    margin-top: 30px;
}

.main .right {
    margin-top: 30px;

    width: 300px;
    height: 500px;
    background-color: yellowgreen;
    margin-right: 80px;

}




/* left */


.left img {
    margin-top: 20px;
    height: 30px;
    width: 100px;
}

.home {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;

}

.home img {
    height: 30px;
    width: 30px;
}

.home a {
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

}



/* mid */

.mid {
    background-color: #3b4c59;
}

.mid .bio {
    height: 200px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

.bio .pic {
    height: 100%;
    width: 200px;
    background-color: yellowgreen;
    border-radius: 50%;
}

.bio .username {
    height: 100%;
    width: 50%;
    background-color: aqua;
}

.username h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-left: 20px;
    font-size: 20px;
    margin-top: 10px;

}




.mid .edit {
    height: 40px;
    width: 100%;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit a {
    text-decoration: none;
    background-color: #3b4c59;
    color: white;
    width: 250px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}