body {
    background-color: #152127;
}

.back a {
    color: #d4d8dc;
    text-decoration: none;
    font-size: 25px;
}

.main {
    width: 40%;
    margin: auto;
    padding-top: 50px;
}

.heading h4 {
    color: #d4d8dc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
}

.heading h6 {
    color: #d4d8dc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;

}

form h4 {
    color: #d4d8dc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;

}

form input {
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #3b4c59;
    width: 500px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    color: white;
    font-size: 16px;


}

form input::placeholder {
    color: #82919f;

}

form p {
    color: #d4d8dc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;

}

form input[type="submit"] {
    color: white;
    background-color: #2f77cc;
    margin-top: 20px;
}

form a {
    color: white;
    text-decoration: none;
    padding-left: 170px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.end1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.end1 p {
    color: #a8a8a8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}


/* end2 */
.end2{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.end2 p{
     color: #a8a8a8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}